/* color scheme */
$white: #FFF;
$isabelline: #ececec;
$lightgray: #d1d1d1;

$smokyblack: #0c0910;
$granitegray: #646266;
$quicksilver: #a6a5a8;

/* tipography */
/*font family*/
$oldstandardtt: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

/* font weight */
$regular: 400;
$bold: 700;

/* font size */
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

/* Screen sizes */