.main {
    margin-bottom: 1.5rem;
}

.hero {
    height: 15rem;
    width: 100%;
}


.main__hero {
    background: url('../img/imagen1.png');
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;


    &__title {
    font-family: $oldstandardtt;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: $xx-large;
    }
    &__content {
     font-family: $raleway;
     line-height: 1.5rem;
     color: $granitegray;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        height: 25rem;
        width: 100%;
    }
    .main__hero {
       background-position: top;
       height: 25rem;
    }
    .info {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 992px) {

    .main {
        display: inline;
    }
    .hero {
        height: 25rem;
        width: 60%;
        float: right;
    }

    .main__hero {
        background-position: top;
        height: 36.9rem;
     }

     .info {
        padding-top: 4rem;
        padding-right: 50rem;
        padding-left: 3rem;
        margin-bottom: 4rem;
     }

}